@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}

.container .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #d1d1d1;
    border-radius: 20px;
    transform-style: preserve-3d;
}

.container .box::before {
    content: 'BOAT';
    position: absolute;
    top: 10px;
    margin: 0 auto;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    opacity: 0;
    transition: 0.3s;
}

.container .box:hover:before {
    opacity: 0.04;
}

.container .box::after {
    content: 'DOPE';
    position: absolute;
    bottom: 10px;
    margin: 0 auto;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    opacity: 0;    
    transition: 0.3s;
}

.container .box:hover:after {
    opacity: 0.04;
}

img {
    width: 200px;
}

.container .box .name{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 75px);
    transition: 0.3s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .name{
    opacity: 1;
    top: 30px;
}

.container .box .buy {
    position: absolute;
    bottom: 0;
    transform-style: preserve-3d;
    left: 50%;
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    transform: translate3d(-50%, 0, 75px);
    text-decoration: none;
    transition: 0.3s;
    opacity: 0;
    z-index: 10;
}

.container .box:hover .buy{
    opacity: 1;
    bottom: 30px;
}

.container .box .circle{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    background-color: #fff;
    width: 220px;
    height: 220px;
    transition: 0.3s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
    z-index: 10;
}

.container .box .product {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 300px;
    z-index: 11;
    transition: 0.3s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 50px);
}

.container .box:hover .product{
    
    transform: translate3d(-50%, -50%, 100px);
}

.container .box:hover .circle{
    
    transform: translate3d(-50%, -50%, 50px);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy{
    background-color: rgb(185, 15, 157);
}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy{
    background-color: rgb(235, 235, 235);
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy{
    background-color: rgb(158, 6, 6);
}